.single_recipe{
    border-radius: 16px;
    box-shadow: 0px px 20px rgb(71,71,71);
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    align-items: center;
    min-width: 40%;
}

.recipe_image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}